extends layout

block content
    div.hero-unit
      h1
        i.icon-comment
        &nbsp;
        span= title 
        span.muted  for Kaylee
      p.lead get in touch!
    div.row-fluid
        div.span3.text-center.well.well-small
            img.img-rounded(src='/img/kaylee.jpg',alt="I'm a girl in my early 30's, have big blue eyes and long brown hair.")
        div.span6
            p You can link up with me on twitter 
                a(href='http://twitter.com/KayleeEluvian')
                    @KayleeEluvian
                span  or ping me a message on 
                    a(href='http://uk.linkedin.com/in/kayleeeluvian')
                        span LinkedIn
                    span!
            h2 I look forward to hearing from you :)
        div.span3
            p
                a(href='https://www.facebook.com/kaylee.eluvian')
                    img(src="https://badge.facebook.com/badge/100006495251511.11041.885817103.png",alt='View my Facebook page')
            p
                a(href='http://uk.linkedin.com/in/kayleeeluvian')
                    img(src='http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png', alt='View Kaylee El&uacute;vians profile on LinkedIn')
            p
                a(href='http://stackexchange.com/users/1116611')
                    img(src='http://stackexchange.com/users/flair/1116611.png', alt='profile for Kaylee El&#250;vian on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Kaylee El&#250;vian on Stack Exchange, a network of free, community-driven Q&amp;A sites')