extends layout

block content
  div.hero-unit
    h1
        i.icon-home 
        span Homepage of  
        span.muted= title
    p.lead UX, software and the dream over the rainbow

  div.row-fluid
    div.span6
        h2 What's new with me?
        a.twitter-timeline(href='https://twitter.com/KayleeEluvian', data-widget-id='364830210727751680')
            Tweets by @KayleeEluvian
    div.span6
        h2 Welcome to my little corner of the Internet!
        p I'm a .Net/JavaScript acifionado, a Human/Computer Interaction specialist, a lover of cute animals and Japanophile-in-Chief.  Bi, curvy, cute and proud.
        p I've worked in both Japan and the UK. I'm a technology enthusiast and am currently working for one of the largest employers in the South of England.
block scripts
    script(src='/twitter/widget.js',defer='deferred')