extends layout

block content
  div.hero-unit
    h1
        i.icon-home 
        span Homepage of  
        span.muted= title
    p.lead UX, software and the dream over the rainbow

  h2 What's new with me?
  div.row-fluid
    div.span3
        a.twitter-timeline(href='https://twitter.com/KayleeEluvian', data-widget-id='364830210727751680')
            Tweets by @KayleeEluvian
        script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    div.span3
        a(href='https://www.facebook.com/lynch.karl')
            img(src='https://badge.facebook.com/badge/1787141936.1425.417012408.png')
    div.span3
        a(href='http://uk.linkedin.com/in/kayleeeluvian')
            img(src='http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png', alt='View Kaylee Elúvians profile on LinkedIn')
    div.span3
        a(href='http://stackexchange.com/users/1116611')
            img(src='http://stackexchange.com/users/flair/1116611.png', alt='profile for Kaylee El&#250;vian on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Kaylee El&#250;vian on Stack Exchange, a network of free, community-driven Q&amp;A sites')