extends layout

block content
  div.hero-unit
    h1
        i.icon-home 
        span Homepage of  
        span.muted= title
    p.lead UX, software and the dream over the rainbow

  h2 What's new with me?
  div.row-fluid
    div.span12
        a.twitter-timeline(href='https://twitter.com/KayleeEluvian', data-widget-id='364830210727751680')
            Tweets by @KayleeEluvian

block scripts
    script(src='/twitter/widget.js',defer='deferred')