extends layout

block content
    div.hero-unit
      h1
        i.icon-beaker 
        &nbsp;
        span= title
        span.muted  numerous, they are!
      p.lead possibly handy, usually interesting.
    div.row-fluid
        