extends layout

block content
    div.hero-unit
      h1
        i.icon-beaker 
        &nbsp;
        span= title
        span.muted  numerous, they are!
      p.lead possibly handy, usually interesting.
    div.row-fluid
        div.span12
            p The myriad nosh I'm currently playing with is up on 
                a(href="https://bitbucket.org/ke2083") GitHub 
                span and on 
                a(href="https://github.com/ke2083") BitBucket!
            p Unfortunately it's usually incomplete, with only the gist of the idea present, but it might be useful to you ^_~
            p Obvs there's totes no warranty or guarantees, so don't cry to me if any of these projects wipe your PC or kill you for the insurance money!